$background: #f0fdff;
$black: #000000;
$white: #ffffff;
$box: #d2edf6;
$edge: #b3e1f0;
$boxfont: #124759;
$red: #ff5a60;

body {
    text-align: center;
    margin: 0;
    background-color: #f7e8e3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ee9a82' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");   
}

#root {
    padding: 0;
    margin: 0;
    }



.header {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        text-decoration: none;
        color: white;
        margin: auto 20px;
    }

    img {
        width: 30px;
        height: 30px;
        margin: auto 20px;
    }

    form {
        display: flex;
    }

    .searchbar {
        display: none;
        width: 80%;
        margin: 10px 10px;
    }

    .button {
        display: none;
        background-color: white;
        border: none;
        border-radius: 5px;
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: $red;
        margin: auto 0px;
    }
    .x {
        display: none;
    }

    .ball {
        height: 40px;
        width: 40px;
    }

    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;

    color: white;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;

    background-color: $red;

    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    .toggleoff {
        display: none;
    }
    .toggleon {
        display: block;
    }
}

.header2 {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .levo {
        text-decoration: none;
        color: white;
        margin: auto 15px;
        display: flex;
    }

    img {
        width: 30px;
        height: 30px;
        margin: auto 20px;
    }

    .searchbar {
        display: none;
        width: 100%;
        margin: 10px 10px;
    }

    .button {
        display: none;
        background-color: white;
        border: none;
        border-radius: 5px;
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        color: $red;
        margin: auto 10px;
    }
    .x {
        display: none;
    }

    .ball {
        height: 40px;
        width: 40px;
    }

    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 50px;

    color: white;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;

    background-color: $red;

    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    .toggleoff {
        display: none;
    }
    .toggleon {
        display: block;
    }
}

.pokeboxwrapper {
    background-color: $box;
    height: 300px;
    width: 258px;

    margin: 10px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    position: relative;

    border-radius: 10%;
    border: $white solid 8px;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($black, 0.6);
        cursor: pointer;
    }
    
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($black, 0.35);
      }
}



.pokeimg {
    width: 180px;
    height: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 20px;
}

.pokename {
    color: $black;
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;

    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 1rem;
}


.pokecards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    min-width: 90vw;
}

.pagecontainer {
    width: 100%;
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    color: $boxfont;

    img {
        width: 250px;
        height: 250px;

        margin: 15px auto;
    }

    h1 {
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    h2 {
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        margin: 0;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .cardtypes {
        display: flex;
        justify-content: center;
    }
    
    .cardtype {
        font-size: 20px;
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        color: white;
        width: 120px;
        height: 50px;
        border-radius: 5px;
        text-transform: uppercase;
        margin: 10px 15px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    h3 {
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin: 8px;
    }
}